In [14]:
import pandas as pd
#hh_data = pd.read_csv('data/hh_data_w.csv')
hh_data = pd.read_csv('data/hh_data_w.csv', sep=';')  # Например, для разделителя ";"
hh_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44744 entries, 0 to 44743
Data columns (total 12 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Пол, возраст                     44744 non-null  object
 1   ЗП                               44744 non-null  object
 2   Ищет работу на должность:        44744 non-null  object
 3   Город, переезд, командировки     44744 non-null  object
 4   Занятость                        44744 non-null  object
 5   График                           44744 non-null  object
 6   Опыт работы                      44576 non-null  object
 7   Последнее/нынешнее место работы  44587 non-null  object
 8   Последняя/нынешняя должность     44586 non-null  object
 9   Образование и ВУЗ                44588 non-null  object
 10  Обновление резюме                44588 non-null  object
 11  Авто                             44588 non-null  object
dtypes: object(12)
memory usage: 4.1+ MB

In [15]:
#Чему равна размерность таблицы? Введите её в виде кортежа (число строк, число столбцов).
hh_data.shape

(44744, 12)

In [18]:
hh_data.head()

,"Пол, возраст",ЗП,Ищет работу на должность:,"Город, переезд, командировки",Занятость,График,Опыт работы,Последнее/нынешнее место работы,Последняя/нынешняя должность,Образование и ВУЗ,Обновление резюме,Авто
0,"Мужчина , 39 лет , родился 27 ноября 1979",29000 руб.,Системный администратор,"Советск (Калининградская область) , не готов к...","частичная занятость, проектная работа, полная ...","гибкий график, полный день, сменный график, ва...",Опыт работы 16 лет 10 месяцев Август 2010 — п...,"МАОУ ""СОШ № 1 г.Немана""",Системный администратор,Неоконченное высшее образование 2000 Балтийск...,16.04.2019 15:59,Имеется собственный автомобиль
1,"Мужчина , 60 лет , родился 20 марта 1959",40000 руб.,Технический писатель,"Королев , не готов к переезду , готов к редким...","частичная занятость, проектная работа, полная ...","гибкий график, полный день, сменный график, уд...",Опыт работы 19 лет 5 месяцев Январь 2000 — по...,Временный трудовой коллектив,"Менеджер проекта, Аналитик, Технический писатель",Высшее образование 1981 Военно-космическая ак...,12.04.2019 8:42,Не указано
2,"Женщина , 36 лет , родилась 12 августа 1982",20000 руб.,Оператор,"Тверь , не готова к переезду , не готова к ком...",полная занятость,полный день,Опыт работы 10 лет 3 месяца Октябрь 2004 — Де...,ПАО Сбербанк,Кассир-операционист,Среднее специальное образование 2002 Профессио...,16.04.2019 8:35,Не указано
3,"Мужчина , 38 лет , родился 25 июня 1980",100000 руб.,Веб-разработчик (HTML / CSS / JS / PHP / базы ...,"Саратов , не готов к переезду , готов к редким...","частичная занятость, проектная работа, полная ...","гибкий график, удаленная работа",Опыт работы 18 лет 9 месяцев Август 2017 — Ап...,OpenSoft,Инженер-программист,Высшее образование 2002 Саратовский государст...,08.04.2019 14:23,Не указано
4,"Женщина , 26 лет , родилась 3 марта 1993",140000 руб.,Региональный менеджер по продажам,"Москва , не готова к переезду , готова к коман...",полная занятость,полный день,Опыт работы 5 лет 7 месяцев Региональный мене...,Мармелад,Менеджер по продажам,Высшее образование 2015 Кгу Психологии и педаг...,22.04.2019 10:32,Не указано

In [19]:
hh_data.tail()

,"Пол, возраст",ЗП,Ищет работу на должность:,"Город, переезд, командировки",Занятость,График,Опыт работы,Последнее/нынешнее место работы,Последняя/нынешняя должность,Образование и ВУЗ,Обновление резюме,Авто
44739,"Мужчина , 30 лет , родился 17 января 1989",50000 руб.,"Финансист, аналитик, экономист, бухгалтер, мен...","Тверь , готов к переезду (Москва, Химки) , гот...",полная занятость,"полный день, удаленная работа","Опыт работы 7 лет 7 месяцев Финансист, аналит...","ООО ""IAS"" (независимый участник объединения Ru...",Руководитель субгруппы,Высшее образование 2015 Московский гуманитарн...,22.04.2019 12:32,Не указано
44740,"Мужчина , 27 лет , родился 5 марта 1992",39000 руб.,"Системный администратор, IT-специалист","Липецк , готов к переезду , готов к командировкам","проектная работа, частичная занятость, полная ...","удаленная работа, гибкий график, полный день, ...","Опыт работы 7 лет Системный администратор, IT...",ИП Пестрецов,Предприниматель,Высшее образование (Бакалавр) 2016 Воронежски...,22.04.2019 13:11,Не указано
44741,"Женщина , 48 лет , родилась 26 декабря 1970",40000 руб.,"Аналитик данных, Математик","Челябинск , готова к переезду , готова к редки...",полная занятость,"полный день, удаленная работа",Опыт работы 21 год 5 месяцев Январь 1998 — по...,"ОАО «ЧМК», Исследовательско-Технологический Це...",Начальник группы аналитики,Высшее образование 2000 Южно-Уральский госуда...,09.04.2019 5:07,Не указано
44742,"Мужчина , 24 года , родился 6 октября 1994",20000 руб.,Контент-менеджер,"Тамбов , не готов к переезду , не готов к кома...","частичная занятость, полная занятость",удаленная работа,Опыт работы 3 года 10 месяцев Контент-менедже...,IQ-Maxima,Менеджер проектов,Высшее образование 2015 Тамбовский государств...,26.04.2019 14:25,Имеется собственный автомобиль
44743,"Мужчина , 38 лет , родился 25 апреля 1980",120000 руб.,Руководитель проекта,"Москва , не готов к переезду , не готов к кома...",полная занятость,полный день,Опыт работы 15 лет 10 месяцев Руководитель пр...,ПАО ГК ТНС энерго,Руководитель отдела технической поддержки,Высшее образование 1997 Южно-Российский госуд...,05.07.2018 20:15,Не указано

In [20]:
# Подсчёт количества уникальных значений в столбце «Опыт работы»
hh_data['Опыт работы'].nunique()

44413

In [22]:
# Находим самую распространённую должность
hh_data['Ищет работу на должность:'].value_counts().idxmax()

'Системный администратор'

Начнём с простого — с признака «Образование и ВУЗ». Его текущий формат — это: <Уровень образования год выпуска ВУЗ специальность...>. Например:

Высшее образование 2016 Московский авиационный институт (Национальный исследовательский университет)
Неоконченное высшее образование 2000 Балтийская государственная академия рыбопромыслового флота
Нас будет интересовать только уровень образования. Причём, для простоты мы будем считать, что соискатель указывает свой максимальный уровень образования в первых трёх словах столбца «Образование и ВУЗ».

Создайте с помощью функции-преобразования новый признак «Образование», который должен иметь четыре категории: «высшее», «неоконченное высшее», «среднее специальное» и «среднее».

Выполните преобразование, ответьте на контрольные вопросы и удалите признак «Образование и ВУЗ».

In [49]:
# Создаём копию данных
hh_data_copy = hh_data.copy()

# Функция для извлечения уровня образования
def extract_education_level(text):
    # Разделяем текст на слова и берём первые три
    words = text.split()[:3]
    # Объединяем их в строку
    education_level = ' '.join(words)
    
    # Определяем категорию
    if 'высшее' in education_level.lower() and 'неоконченное' not in education_level.lower():
        return 'высшее'
    elif 'неоконченное высшее' in education_level.lower():
        return 'неоконченное высшее'
    elif 'среднее специальное' in education_level.lower():
        return 'среднее специальное'
    elif 'среднее' in education_level.lower():
        return 'среднее'
    else:
        return 'не указано'

# Проверяем пропущенные значения в столбце «Образование и ВУЗ»
print("Количество пропущенных значений:", hh_data_copy['Образование и ВУЗ'].isnull().sum())

# Заменяем пропущенные значения на пустую строку
hh_data_copy['Образование и ВУЗ'] = hh_data_copy['Образование и ВУЗ'].fillna('')

# Применяем функцию к столбцу «Образование и ВУЗ»
hh_data_copy['Образование'] = hh_data_copy['Образование и ВУЗ'].apply(extract_education_level)

# Проверяем уникальные значения нового столбца
print("Уникальные значения в столбце «Образование»:", hh_data_copy['Образование'].unique())

# Удаляем исходный столбец «Образование и ВУЗ»
hh_data_copy.drop(columns=['Образование и ВУЗ'], inplace=True)

# Проверяем результат
hh_data_copy.head()

Количество пропущенных значений: 156
Уникальные значения в столбце «Образование»: ['неоконченное высшее' 'высшее' 'среднее специальное' 'среднее'
 'не указано']

,"Пол, возраст",ЗП,Ищет работу на должность:,"Город, переезд, командировки",Занятость,График,Опыт работы,Последнее/нынешнее место работы,Последняя/нынешняя должность,Обновление резюме,Авто,Образование
0,"Мужчина , 39 лет , родился 27 ноября 1979",29000 руб.,Системный администратор,"Советск (Калининградская область) , не готов к...","частичная занятость, проектная работа, полная ...","гибкий график, полный день, сменный график, ва...",Опыт работы 16 лет 10 месяцев Август 2010 — п...,"МАОУ ""СОШ № 1 г.Немана""",Системный администратор,16.04.2019 15:59,Имеется собственный автомобиль,неоконченное высшее
1,"Мужчина , 60 лет , родился 20 марта 1959",40000 руб.,Технический писатель,"Королев , не готов к переезду , готов к редким...","частичная занятость, проектная работа, полная ...","гибкий график, полный день, сменный график, уд...",Опыт работы 19 лет 5 месяцев Январь 2000 — по...,Временный трудовой коллектив,"Менеджер проекта, Аналитик, Технический писатель",12.04.2019 8:42,Не указано,высшее
2,"Женщина , 36 лет , родилась 12 августа 1982",20000 руб.,Оператор,"Тверь , не готова к переезду , не готова к ком...",полная занятость,полный день,Опыт работы 10 лет 3 месяца Октябрь 2004 — Де...,ПАО Сбербанк,Кассир-операционист,16.04.2019 8:35,Не указано,среднее специальное
3,"Мужчина , 38 лет , родился 25 июня 1980",100000 руб.,Веб-разработчик (HTML / CSS / JS / PHP / базы ...,"Саратов , не готов к переезду , готов к редким...","частичная занятость, проектная работа, полная ...","гибкий график, удаленная работа",Опыт работы 18 лет 9 месяцев Август 2017 — Ап...,OpenSoft,Инженер-программист,08.04.2019 14:23,Не указано,высшее
4,"Женщина , 26 лет , родилась 3 марта 1993",140000 руб.,Региональный менеджер по продажам,"Москва , не готова к переезду , готова к коман...",полная занятость,полный день,Опыт работы 5 лет 7 месяцев Региональный мене...,Мармелад,Менеджер по продажам,22.04.2019 10:32,Не указано,высшее

In [50]:
# Подсчитываем количество соискателей с уровнем образования «среднее»
hh_data_copy[hh_data_copy['Образование'] == 'среднее'].shape[0]

559

Теперь нас интересует столбец «Пол, возраст». Его текущий формат: <Пол , возраст, дата рождения>. Например:

Мужчина , 39 лет , родился 27 ноября 1979
Женщина , 21 год , родилась 13 января 2000
Как вы понимаете, нам необходимо выделить каждый параметр в отдельный столбец..

In [51]:
# Разделяем столбец «Пол, возраст» на три части
split_data = hh_data_copy['Пол, возраст'].str.split(' , ', expand=True)

# Присваиваем новые столбцы
hh_data_copy['Пол'] = split_data[0]  # Первая часть — пол
hh_data_copy['Возраст'] = split_data[1]  # Вторая часть — возраст
hh_data_copy['Дата_рождения'] = split_data[2]  # Третья часть — дата рождения

# Удаляем исходный столбец «Пол, возраст»
hh_data_copy.drop(columns=['Пол, возраст'], inplace=True)

# Проверяем результат
hh_data_copy.head()

,ЗП,Ищет работу на должность:,"Город, переезд, командировки",Занятость,График,Опыт работы,Последнее/нынешнее место работы,Последняя/нынешняя должность,Обновление резюме,Авто,Образование,Пол,Возраст,Дата_рождения
0,29000 руб.,Системный администратор,"Советск (Калининградская область) , не готов к...","частичная занятость, проектная работа, полная ...","гибкий график, полный день, сменный график, ва...",Опыт работы 16 лет 10 месяцев Август 2010 — п...,"МАОУ ""СОШ № 1 г.Немана""",Системный администратор,16.04.2019 15:59,Имеется собственный автомобиль,неоконченное высшее,Мужчина,39 лет,родился 27 ноября 1979
1,40000 руб.,Технический писатель,"Королев , не готов к переезду , готов к редким...","частичная занятость, проектная работа, полная ...","гибкий график, полный день, сменный график, уд...",Опыт работы 19 лет 5 месяцев Январь 2000 — по...,Временный трудовой коллектив,"Менеджер проекта, Аналитик, Технический писатель",12.04.2019 8:42,Не указано,высшее,Мужчина,60 лет,родился 20 марта 1959
2,20000 руб.,Оператор,"Тверь , не готова к переезду , не готова к ком...",полная занятость,полный день,Опыт работы 10 лет 3 месяца Октябрь 2004 — Де...,ПАО Сбербанк,Кассир-операционист,16.04.2019 8:35,Не указано,среднее специальное,Женщина,36 лет,родилась 12 августа 1982
3,100000 руб.,Веб-разработчик (HTML / CSS / JS / PHP / базы ...,"Саратов , не готов к переезду , готов к редким...","частичная занятость, проектная работа, полная ...","гибкий график, удаленная работа",Опыт работы 18 лет 9 месяцев Август 2017 — Ап...,OpenSoft,Инженер-программист,08.04.2019 14:23,Не указано,высшее,Мужчина,38 лет,родился 25 июня 1980
4,140000 руб.,Региональный менеджер по продажам,"Москва , не готова к переезду , готова к коман...",полная занятость,полный день,Опыт работы 5 лет 7 месяцев Региональный мене...,Мармелад,Менеджер по продажам,22.04.2019 10:32,Не указано,высшее,Женщина,26 лет,родилась 3 марта 1993

Сколько процентов женских резюме представлено в наших данных? Ответ округлите до сотых.

In [52]:
female_percentage = round((hh_data_copy[hh_data_copy['Пол'] == 'Женщина'].shape[0] / hh_data_copy.shape[0]) * 100, 2)
print(f"Процент женских резюме: {female_percentage}%")

Процент женских резюме: 19.07%

Чему равен средний возраст соискателей? Ответ округлите до десятых.

In [53]:
# Разделяем строку по пробелу и извлекаем число
hh_data_copy['Возраст_число'] = hh_data_copy['Возраст'].str.split().str[0].astype(float)

# Вычисляем средний возраст и округляем
print(f"Средний возраст соискателей: {round(hh_data_copy['Возраст_число'].mean(),1)} лет")

Средний возраст соискателей: 32.2 лет

Следующим этапом преобразуем признак «Опыт работы». Его текущий формат: <Опыт работы: n лет m месяцев, периоды работы в различных компаниях…>.

Из столбца нам необходимо выделить общий опыт работы соискателя в месяцах, новый признак назовём «Опыт работы (месяц)».

Для начала обсудим условия решения задачи:

Во-первых, в данном признаке есть пропуски. Условимся, что, если мы встречаем пропуск, оставляем его как есть (функция-преобразование возвращает NaN).
Во-вторых, в данном признаке есть скрытые пропуски. Для некоторых соискателей в столбце стоит значение Не указано. Их тоже обозначим как NaN (функция-преобразование возвращает NaN)
В-третьих, нас не интересует информация, которая описывается после указания опыта работы (периоды работы в различных компаниях).

В-четвёртых, у нас есть проблема: опыт работы может быть представлен только в годах или только в месяцах. Например, можно встретить следующие варианты:

Опыт работы 3 года 2 месяца
Опыт работы 4 года
Опыт работы 11 месяцев
Учитывайте эту особенность в вашем коде.

В результате преобразования у вас должен получиться столбец, содержащий информацию о том, сколько месяцев проработал соискатель.

Выполните преобразование и удалите столбец «Опыт работы» из таблицы.

In [54]:
import numpy as np

# Функция для преобразования опыта работы в месяцы
def get_experience(arg):
    # Если значение пропущено или равно "Не указано", возвращаем NaN
    if pd.isna(arg) or arg == 'Не указано':
        return np.nan
    
    # Ключевые слова для поиска лет и месяцев
    year_words = ['год', 'года', 'лет']
    month_words = ['месяц', 'месяца', 'месяцев']
    
    # Разделяем строку на части (первые 7 элементов)
    arg_splitted = arg.split(' ')[:7]
    years = 0
    months = 0
    
    # Проходим по частям строки
    for index, item in enumerate(arg_splitted):
        # Если находим ключевое слово из years_Word извлекаем количество лет
        if item in year_words:
            try:
                years = int(arg_splitted[index - 1]) 
            except (ValueError, IndexError):
                years = 0  # Если не удалось преобразовать, считаем 0
        
        # Если находим ключевое слово из month_words извлекаем количество месяцев
        if item in month_words:
            try:
                months = int(arg_splitted[index - 1])  # Берём предыдущий элемент (число)
            except (ValueError, IndexError):
                months = 0  # Если не удалось преобразовать, считаем 0
    
    # Преобразуем годы в месяцы и суммируем
    return int(years * 12 + months)

# Применяем функцию к столбцу «Опыт работы»
hh_data_copy['Опыт работы (месяц)'] = hh_data_copy['Опыт работы'].apply(get_experience)

# Выводим два столбца для проверки
hh_data_copy[['Опыт работы', 'Опыт работы (месяц)']].head(10)  # Первые 10 строк

# Удаляем исходный столбец «Опыт работы» (если нужно)
# hh_data_copy.drop(columns=['Опыт работы'], inplace=True)

                                         Опыт работы  Опыт работы (месяц)
0  Опыт работы 16 лет 10 месяцев  Август 2010 — п...                202.0
1  Опыт работы 19 лет 5 месяцев  Январь 2000 — по...                233.0
2  Опыт работы 10 лет 3 месяца  Октябрь 2004 — Де...                123.0
3  Опыт работы 18 лет 9 месяцев  Август 2017 — Ап...                225.0
4  Опыт работы 5 лет 7 месяцев  Региональный мене...                 67.0
5  Опыт работы 9 лет 9 месяцев  Технический специ...                117.0
6  Опыт работы 22 года 9 месяцев  Руководитель ИТ...                273.0
7  Опыт работы 3 года 11 месяцев  Декабрь 2016 — ...                 47.0
8  Опыт работы 8 лет 9 месяцев  Декабрь 2016 — по...                105.0
9  Опыт работы 16 лет 6 месяцев  Июнь 2018 — по н...                198.0

In [55]:
# вычисляем медианный опыт работы и округляем
round(hh_data_copy['Опыт работы (месяц)'].median())

100

Хорошо идём! :) Следующий на очереди — признак «Город, переезд, командировки». Информация в нём представлена в следующем виде: <Город , (метро) , готовность к переезду (города для переезда) , готовность к командировкам>.

В скобках указаны необязательные параметры строки. Например, можно встретить следующие варианты:

Москва , не готов к переезду , готов к командировкам
Москва , м. Беломорская , не готов к переезду, не готов к командировкам
Воронеж , готов к переезду (Сочи, Москва, Санкт-Петербург) , готов к командировкам
Создадим отдельные признаки «Город», «Готовность к переезду», «Готовность к командировкам». При этом важно учесть:

⛏ Признак «Город» может содержать только четыре категории: «Москва», «Санкт-Петербург» и «город-миллионник» (их список ниже), остальные обозначьте как «другие».

Список городов-миллионников
Информация о метро, рядом с которым проживает соискатель, нас не интересует.

⛏ Признак «Готовность к переезду» должен иметь два возможных варианта: True или False. Обратите внимание, что возможны несколько вариантов описания готовности к переезду в признаке «Город, переезд, командировки». Например:

… , готов к переезду , …
… , не готова к переезду , …
… , готова к переезду (Москва, Санкт-Петербург, Ростов-на-Дону)
… , хочу переехать (США) , …
Нас интересует только сам факт возможности/желания переезда.

⛏ Признак «Готовность к командировкам» должен иметь два возможных варианта: True или False. Обратите внимание, что возможны несколько вариантов описания готовности к командировкам в признаке «Город, переезд, командировки». Например:

… , готов к командировкам , …
… , готова к редким командировкам , …
… , не готов к командировкам , …
Нас интересует только сам факт готовности к командировке.

Ещё один важный момент: при выгрузке данных у некоторых соискателей «потерялась» информация о готовности к командировкам. Давайте по умолчанию будем считать, что такие соискатели не готовы к командировкам.

Выполните преобразования и удалите столбец «Город, переезд, командировки» из таблицы.

In [ ]:
import pandas as pd

# Список городов-миллионников
million_cities = [
    'Новосибирск', 'Екатеринбург', 'Казань', 'Нижний Новгород', 
    'Челябинск', 'Самара', 'Омск', 'Ростов-на-Дону', 'Уфа', 
    'Красноярск', 'Воронеж', 'Пермь', 'Волгоград'
]

# Функция для извлечения города
def extract_city(location):
    # Берём первую часть строки (город)
    city = location.split(',')[0].strip()
    
    # Категоризируем город
    if city == 'Москва':
        return 'Москва'
    elif city == 'Санкт-Петербург':
        return 'Санкт-Петербург'
    elif city in million_cities:
        return 'город-миллионник'
    else:
        return 'другие'

# Функция для извлечения готовности к переезду
def extract_relocation(location):
    # Ищем ключевые слова
    if any(word in location for word in ['готов к переезду', 'готова к переезду', 'хочу переехать']):
        return True
    else:
        return False

# Функция для извлечения готовности к командировкам
def extract_business_trip(location):
    # Ищем ключевые слова
    if any(word in location for word in ['готов к командировкам', 'готова к командировкам']):
        return True
    else:
        return False  # По умолчанию, если информация отсутствует

# Применяем функции к столбцу «Город, переезд, командировки»
hh_data_copy['Город'] = hh_data_copy['Город, переезд, командировки'].apply(extract_city)
hh_data_copy['Готовность к переезду'] = hh_data_copy['Город, переезд, командировки'].apply(extract_relocation)
hh_data_copy['Готовность к командировкам'] = hh_data_copy['Город, переезд, командировки'].apply(extract_business_trip)

# Удаляем исходный столбец
hh_data_copy.drop(columns=['Город, переезд, командировки'], inplace=True)

# Проверяем результат
print(hh_data_copy[['Город', 'Готовность к переезду', 'Готовность к командировкам']].head(10))